<nav class="main-navbar navbar navbar-expand-lg p-3 d-flex justify-content-between">
    <div class="ms-2">
        <a href="{{ path('app_home') }}" class="btn btn-primary">Home</a>
        <a href="{{ path('app_shop') }}" class="btn btn-primary">Shop</a>
        <a href="{{ path('app_draw') }}" class="btn btn-primary">Participer</a>
    </div>
    <div>
        <div class="btn-group dropstart">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Profil
            </button>
            <div class="dropdown-menu">
                <div class="dropdown-content">
                    <div class="d-flex justify-content-around">
                        <h6>{{ app.user.username }}</h6>
                        <p>{{ app.user.numberOfCoins }} <i class="fa-sharp fa-solid fa-coins golden-ticket"></i></p>
                    </div>
                    <strong class="mb-0 ms-2">tu as :</strong>
                    <p class="ms-2">{{ app.user.numberOfGoldenTickets }} Golden
                        Ticket{% if app.user.numberOfGoldenTickets > 1 %}s{% endif %}</p>
                    <p class="ms-2">{{ app.user.numberOfDraw }}
                        Participation{% if app.user.numberOfDraw > 1 %}s{% endif %}</p>
                    <p class="ms-2">{{ app.user.numberOfChocoPaid }} {% if app.user.numberOfChocoPaid > 1 %}chocolatines Payées{% else %}chocolatine Payée{% endif %}</p>
                    <p class="ms-2">{{ app.user.numberOfChocoEaten }} {% if app.user.numberOfChocoEaten > 1 %}chocolatines mangées{% else %}chocolatine mangée{% endif %}</p>
                    <hr class="mb-1">
                    <div class="mx-5 mb-0 d-flex flex-column align-items-center">
                        <a href="{{ path('app_logout') }}" class="btn btn-primary mb-2">Logout</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="" class="btn btn-success ">Admin</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>