<nav class="main-navbar navbar navbar-expand-lg p-3 d-flex justify-content-between">
    <div class="ms-2">
        <a href="{{ path('app_home') }}" class="btn btn-primary">Home</a>
        <a href="{{ path('app_shop') }}" class="btn btn-primary">Shop</a>
        <a href="" class="btn btn-primary">Participer</a>
    </div>
    <div>
        <div class="btn-group dropstart">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Profil
            </button>
            <div class="dropdown-menu">
                <div class="dropdown-content">
                    <div class="d-flex justify-content-around truc">
                        <h6>{{ app.user.username }}</h6>
                        <p>{{ app.user.numberOfCoins }}</p>
                    </div>
                    <p class="text-center mb-0">tu as :</p>
                    <ul>
                        <li class="text-start">{{ app.user.numberOfGoldenTickets }} Golden Ticket{% if app.user.numberOfGoldenTickets > 1 %}s{% endif %}</li>
                        <li>{{ app.user.numberOfDraw }} Participation{% if app.user.numberOfDraw > 1 %}s{% endif %}</li>
                        <li>{{ app.user.numberOfChocoPaid}} {% if app.user.numberOfChocoPaid > 1 %}chocolatines Payées{% else %}chocolatine Payée{% endif %}</li>
                        <li>{{ app.user.numberOfChocoEaten }} {% if app.user.numberOfChocoEaten > 1 %}chocolatines mangées{% else %}chocolatine mangée{% endif %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>