<nav class="main-navbar navbar navbar-expand-lg p-3 d-flex justify-content-between">
    <div class="ms-2">
        <a href="{{ path('app_home') }}"><img src="{{ asset('build/images/logo_choco_week.png') }}" alt="logo" class="choco-logo"></a>
    </div>
    <div>
        <a href="{{ path('app_shop') }}" class="btn btn-custom"><i class="fa-sharp fa-solid fa-cart-shopping"></i> Shop</a>
        <a href="{{ path('app_draw') }}" class="btn btn-custom"><i class="fa-solid fa-child-reaching"></i> Tirage au sort</a>
        <a href="{{ path('app_game') }}" class="btn btn-custom"><i class="fa-solid fa-puzzle-piece"></i> Jeu</a>
    </div>
    <div>
        <div class="btn-group dropstart">
            <button type="button" class="btn btn-custom dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Profil  <i class="fa-solid fa-circle-user ms-2"></i>
            </button>
            <div class="dropdown-menu">
                <div class="dropdown-content">
                    <div class="d-flex justify-content-around">
                        <h6>{{ app.user.username }}</h6>
                        <p>{{ app.user.numberOfCoins }} <i class="fa-sharp fa-solid fa-coins golden-ticket"></i></p>
                    </div>
                    <strong class="mb-0 ms-2">tu as :</strong>
                    <p class="ms-2">{{ app.user.numberOfGoldenTickets }} Golden
                        Ticket{% if app.user.numberOfGoldenTickets > 1 %}s{% endif %}</p>
                    <p class="ms-2">{{ app.user.numberOfParticipation }}
                        Participation{% if app.user.numberOfParticipation > 1 %}s{% endif %}</p>
                    <p class="ms-2">été tiré au sort {{ app.user.numberOfDraw }} fois</p>
                    <p class="ms-2">{{ app.user.numberOfChocoPaid }} {% if app.user.numberOfChocoPaid > 1 %}chocolatines Payées{% else %}chocolatine Payée{% endif %}</p>
                    <p class="ms-2">{{ app.user.numberOfChocoEaten }} {% if app.user.numberOfChocoEaten > 1 %}chocolatines mangées{% else %}chocolatine mangée{% endif %}</p>
                    <hr class="mb-1">
                    <div class="mx-5 mb-0 d-flex gap-2 justify-content-around">
                        <a href="{{ path('app_logout') }}" class="btn btn-custom"><i class="fa-solid fa-person-walking-arrow-right"></i> Logout</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('app_product_index') }}" class="btn btn-success"><i class="fa-solid fa-gear"></i> Admin</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>