{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}
    <div class="form-custom-container">
        <h1 class="h1 mb-3 font-weight-normal text-center my-5">ChocoWeek</h1>
        {{ form_start(registrationForm) }}
        <div>
            {{ form_label(registrationForm.username) }}
            {{ form_widget(registrationForm.username) }}
        </div>
        <div>
            {{ form_label(registrationForm.plainPassword, 'Mot de passe', {'attr': {'class': 'password-field'}}) }}
            {{ form_widget(registrationForm.plainPassword) }}
        </div>
        <div>
            {{ form_widget(registrationForm.agreeTerms) }}
            {{ form_label(registrationForm.agreeTerms, 'yes') }}
        </div>
        <button type="submit" class="btn btn-custom mt-3 mb-2">S'inscrire</button>
        {{ form_end(registrationForm) }}
        <p>vous avez dejà un compte ? <a href="{{ path('app_login') }}">Se connecter</a></p>
    </div>
{% endblock %}
