{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="m-5">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Username</th>
                <th scope="col">Role</th>
                <th scope="col">chocoCoins</th>
                <th scope="col">Golden tickets</th>
                <th scope="col">modifier</th>
                <th scope="col">supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.roles[0] }}</td>
                    <td>{{ user.numberOfCoins }}</td>
                    <td>{{ user.numberOfGoldenTickets }}</td>
                    <td><a href="" class="btn btn-warning">modifier</a></td>
                    <td><a href="" class="btn btn-danger">supprimer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}