{% extends 'base.html.twig' %}

{% block title %}ChocoGuess{% endblock %}

{% block body %}
    <h1 class="page-title my-5">ChocoGuess</h1>
    <div class="d-flex justify-content-end">
        <a href="{{ path('app_game_new') }}" class="btn-custom btn me-5 mb-5"><i class="fa-solid fa-plus"></i> Proposer
            un ChocoGuess</a>
    </div>
    <div class="mb-5">
        {% for riddle in riddles %}
            <a class="guess-link" href="{{ path('app_game_show', { id : riddle.id }) }}">
                <div class="d-flex justify-content-around mt-3 guess-card">
                    <div class="card w-75">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-column me-5">
                                {% if riddle.title %}
                                    <h5 class="card-title">{{ riddle.title }}</h5>
                                {% endif %}
                                <strong class="mb-3">{{ riddle.entitled }}</strong>
                                <p>Proposée par : {{ riddle.author.username }}</p>
                            </div>
                            {% if riddle.author.id != app.user.id %}
                                <div class="d-flex flex-column align-items-center ps-5">
                                    <i class="h1 fa-solid fa-circle-{% if riddle.id in riddlesSolved %}check text-success{% else %}xmark text-warning{% endif %}"></i>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        {% else %}
            <div class="d-flex justify-content-around mt-3 guess-card">
                <div class="card w-75">
                    <p class="text-center h4 p-5 mx-3">Aucun ChocoGuess pour le moment vous pouvez en proposer un en
                        cliquant sur le boutton en haut a
                        droite !</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
